.menu-container {
    position: relative;
    background-color: #fff;
    border-radius: .3rem;
    padding: 9.2rem 2rem;
    margin-top: 10.5rem;

    @media screen and (min-width: 1024px) {
        padding: 9.2rem 7.2rem;
        margin-top: 14.5rem;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 17.5rem;
    }
}