.comic-text {
    display: none;

    @media screen and (min-width: 576px) {
        display: block;
        position: relative;

        .content-wrapper {
            display: flex;

            h3 {
                font-family: "dnk";
                font-size: 16px;
                background-color: #fff;
                color: #731550;
                width: 26.4rem;
                height: 3.8rem;
                z-index: 300;
                padding-top: 1rem;
            }
        }

        &:after {
            position: absolute;
            content: "";
            background-color: #290540;
            width: 26.4rem;
            height: 3.8rem;
            left: 0.5rem;
            top: 0.5rem;
        }
    }
}