@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    overflow-x: hidden;

    // To prevent scrolling when mobile-menu is open
    &.fixed-position {
        position: fixed;
    }
}

#root {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

@font-face {
    font-family: "dnk";
    src: url(../fonts/dnk.ttf);
    font-style: normal;
}

h1 {
    font-family: "dnk";
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

main {
    position: relative;
    background-color: #f9b450;
    padding-bottom: 12rem;

    @media screen and (min-width: 1280px) {
        padding-bottom: 20rem;
    }

    .top-section-wrapper {

        .content-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    // .container {
    //     h1 {
    //         font-size: 5rem;
    //         color: #b23c52;
    //         text-decoration: underline;
    //         margin-bottom: 0;
    //         margin-top: 3rem;

    //         @media screen and (min-width: 768px) {
    //             margin-top: 1rem;
    //         }

    //         @media screen and (min-width: 1024px) {
    //             font-size: 6.7rem;
    //             margin-top: 0;
    //         }
    //     }

    //     .comic-text {
    //         position: absolute;
    //         left: 0;
    //         display: none;

    //         @media screen and (min-width: 576px) {
    //             display: block;
    //         }
    //     }

    //     .deliveroo-widget {
    //         border-top-left-radius: 0;
    //         border-top-right-radius: 0;
    //         margin-left: auto;
    //         margin-right: auto;

    //         @media screen and (min-width: 576px) {
    //             margin-right: 0;
    //         }
    //     }
    // }
}