.smoothies-menu {
    position: relative;
    margin-top: 10rem;

    .meals-separator {
        width: 80%;
        margin-left: auto;

        &__separator {
            height: 0.15rem;

            @media screen and (min-width: 1024px) {
                height: 0.35rem;
            }
        }
    }

    &__menu-hdr {
        position: absolute;
        z-index: 4;
        top: -4rem;
        left: -2rem;

        @media screen and (min-width: 812px) and (orientation: landscape) {
            top: 2rem;
        }

        @media screen and (min-width: 768px) {
            top: 1.5rem;
        }

        @media screen and (min-width: 1024px) {
            top: -2.5rem;
            left: -6rem;
        }

        @media screen and (min-width: 1024px) and (orientation: landscape) {
            top: -2.5rem;
        }

        @media screen and (min-width: 1280px) {
            top: -5.5rem;
        }
    }

    &__content-wrapper {
        width: 35.1rem;
        text-align: left;
    }

    &__menu-title {
        width: 50%;
        margin-left: 1rem;

        @media screen and (min-width: 1024px) {
            width: 80%;
        }

        @media screen and (min-width: 1280px) {
            width: 100%;
        }
    }

    &__main-content {
        margin-top: 10rem;

        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
        }
    }

    &__img-hdr-wrapper {
        position: relative;
    }

    &__img-wrapper {
        margin-top: 5rem;

        @media screen and (min-width: 992px) {
            margin-top: 6rem;
        }

        @media screen and (min-width: 1024px) {
            max-width: 450px;
        }
    }

    &__featured-img {
        width: 100%;
    }

    &__outer-hdr-wrapper {
        position: absolute;
        bottom: -1.9rem;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (min-width: 768px) {
            left: 2rem;
            transform: none;
        }

        @media screen and (min-width: 992px) {
            bottom: -3.5rem;
        }
    }

    &__inner-hdr-wrapper {
        position: relative;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &__hdr-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            position: absolute;
            content: "";
            background-color: #290540;
            width: 13.1rem;
            height: 3.5rem;
            left: 0.5rem;
            top: 0.5rem;

            @media screen and (min-width: 992px) {
                width: 23rem;
                height: 6.25rem;
            }
        }

        h2 {
            font-family: "dnk";
            font-size: 20px;
            background-color: #f9f871;
            color: #731550;
            z-index: 300;
            padding-top: 1rem;
            padding: 0.5rem 2rem;

            @media screen and (min-width: 992px) {
                font-size: 42px;
            }
        }
    }

    &__flavours-list-section {
        margin-top: 5rem;

        @media screen and (min-width: 768px) {
            padding-left: 4rem;
        }

        @media screen and (min-width: 992px) {
            padding-left: 3.5rem;
            margin-top: 10rem;
        }

        @media screen and (min-width: 1024px) {
            padding-left: 0;
            margin-top: 6rem;
            margin-right: 9rem;
        }
    }

    &__flavours-hdr-desktop {
        @media screen and (min-width: 1024px) {
            display: block;
            position: relative;
        }
    }

    &__desktop-hdr-wrapper {
        display: none;

        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;

            &:after {
                position: absolute;
                content: "";
                background-color: #290540;
                width: 23rem;
                height: 6.25rem;
                left: 0.5rem;
                top: 0.5rem;
            }

            h2 {
                font-family: "dnk";
                font-size: 42px;
                background-color: #f9f871;
                color: #731550;
                z-index: 300;
                padding-top: 1rem;
                padding: 0.5rem 2rem;
            }
        }
    }

    &__flavours-list {
        list-style: none;
        padding: 0;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: left;
        }

        @media screen and (min-width: 1024px) {
            display: block;
            max-width: 300px;
            margin-top: 6rem;
            padding-left: 2rem;
        }
    }

    &__flavours-list-item {
        flex: 0 0 48%;
        padding: 0.5rem 0;

        a {
            font-family: "dnk";
            font-size: 18px;
            color: #731550;

            @media screen and (min-width: 768px) {
                font-size: 24px;
            }

            p {
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                color: #b23c52;
            }
        }
    }
}