.sub-menu {

    .links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        margin: 2.5rem auto 0 auto;

        @media screen and (min-width: 768px) {
            width: 65%;
        }

        @media screen and (min-width: 1280px) {
            width: 50%;
        }

        a {
            color: #731550 !important;
            font-size: 16px;
            opacity: .8;

            @media screen and (min-width: 768px) {
                font-size: 20px;
            }

            @media screen and (min-width: 1024px) {
                font-size: 23px;
            }

            &.active {
                font-weight: 900;
                opacity: 1;
            }
        }

        span {
            margin: 0 0.5rem;
        }
    }
}