.cards {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 992px) {
        margin-top: 1rem;
    }

    // Menu tabs need specific styles here
    // &__beef {
    //     position: relative;

    //     .menu-tab {
    //         left: -15.5rem;
    //         top: 1rem;
    //     }
    // }

    // &__chicken {
    //     position: relative;

    //     .menu-tab {
    //         left: -15.5rem;
    //         top: 1rem;

    //         .content-wrapper {
    //             h2 {
    //                 margin-top: 14rem;
    //             }
    //         }
    //     }
    // }

    // &__vegan {
    //     position: relative;

    //     .menu-tab {
    //         left: -15.5rem;
    //         top: 1rem;

    //         .content-wrapper {
    //             h2 {
    //                 margin-top: 11.5rem;
    //             }
    //         }
    //     }
    // }
}