.cards {

    &--grid {
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0 4rem;
        }

        @media screen and (min-width: 1024px) and (orientation: landscape) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0 2.5rem;
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2.5rem;
        }

        @media screen and (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 4rem;
        }
    }

    &__mobile-menu-tab {
        font-family: "dnk";
        background-color: #e1734e;
        color: #731550;
        font-size: 26px;
        letter-spacing: 1.5px;
        margin-bottom: 0;
        border-radius: 5px;
        margin-top: 5rem;
        width: 100%;

        // &:first-child {
        //     margin-top: 2rem;
        // }

        @media screen and (min-width: 1280px) {
            display: none;
        }
    }

    // Menu tabs need specific styles 
    &__beef {
        position: relative;

        .desktop-menu-title-tab {

            &__content-wrapper {
                margin-top: 11rem;
            }
        }
    }

    &__chicken {
        position: relative;

        .desktop-menu-title-tab {

            &__content-wrapper {
                h2 {
                    margin-top: 14.5rem;
                }
            }
        }
    }

    &__vegan {
        position: relative;

        .desktop-menu-title-tab {

            &__content-wrapper {
                h2 {
                    margin-top: 11.5rem;
                }
            }
        }
    }
}