.main-content {
    .img-hdr-wrapper {
        position: relative;

        .img-wrapper {
            margin-top: 5rem;

            @media screen and (min-width: 992px) {
                margin-top: 6rem;
            }

            .featured-img {
                width: 100%;
            }
        }

        .desserts-hdr-wrapper {
            position: absolute;
            bottom: -1.9rem;
            left: 50%;
            transform: translateX(-50%);

            @media screen and (min-width: 768px) {
                left: 2rem;
                transform: none;
            }

            @media screen and (min-width: 992px) {
                bottom: -3.5rem;
            }

            .desserts-flavours-hdr {
                position: relative;

                .hdr-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        font-family: "dnk";
                        font-size: 20px;
                        background-color: #f9f871;
                        color: #731550;
                        z-index: 300;
                        padding-top: 1rem;
                        padding: 0.5rem 2rem;

                        @media screen and (min-width: 992px) {
                            font-size: 42px;
                        }
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        background-color: #290540;
                        width: 13.1rem;
                        height: 3.5rem;
                        left: 0.5rem;
                        top: 0.5rem;

                        @media screen and (min-width: 992px) {
                            width: 23rem;
                            height: 6.25rem;
                        }
                    }
                }
            }
        }
    }

    .desserts-flavours-list {
        margin-top: 5rem;

        @media screen and (min-width: 768px) {
            padding-left: 4rem;
        }

        @media screen and (min-width: 992px) {
            padding-left: 3.5rem;
            margin-top: 10rem;
        }

        #desserts-flavours {
            list-style: none;
            padding: 0;

            li {
                flex: 0 0 48%;
                padding: 0.5rem 0;

                a {
                    font-family: "dnk";
                    font-size: 18px;
                    color: #731550;
                }
            }

            @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: left;

                li {
                    a {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}